{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Tombari J. Nyone - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Tombari Nyone."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="/static/css/style.css?{% now 'U' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/static/images/headshot.jpg?{% now 'U' %}" alt="Tombari Nyone" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Tombari Nyone</h1>
			<h6 class="quickFade delayThree">Full-Stack Web Developer, Programmer, Digital Marketer</h6>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:tom.nyone@gmail.com" target="_blank">tom.nyone@gmail.com</a></li>
				<li>w: <a href="http://www.tomnyone.com">www.tomnyone.com</a></li>
				<li>m: +2348087436790</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am a graduate of Mechanical Engineering from the University of 
					Port Harcourt, Nigeria. I have passion for problem solving and a
					general love for computer. Though, a graduate of Mechanical Engineering, I have a full time career in computer science and 
					programming. I am very proficient in AutoCAD 2D and 3D Designs, Inventors, Web programming and design, UX/UI design, HTML5, CSS5, PHP, JavaScript, MySQL, MongoDB databases, Django framework, Flask Framework, Python, and C++. I am a also a Hardware Maintenance expert.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>IT Manager at Desires Pathfinder Network</h2>
					<p class="subDetails">February 2017 - December 2019</p>
					<p>Designed website, manage online presence, digital marketing, social media manager, SEO and SEM building and execution.</p>
				</article>
				
				<article>
					<h2>Slick Line Engineer at New Cross Petroleum/Geoplex DrillTeq</h2>
					<p class="subDetails">May 2016 - February 2017</p>
					<p>General wireline operations; Rig up/down slick line pressure control equipment and tool string, Run Drift, Run Impression, Retrieved Modified Plugs, Retrieved Prongs, Retrieved SCSSV and installed same, Run Survey (BHP Gauges), Performed Swab Operations, Rig up and Rig down operations, RIH and POOH operations with the Winch machine etc.</p>
				</article>
				
				<article>
					<h2>Web Developer/IT Consultant at TrulyOne Global Tech</h2>
					<p class="subDetails">January 2013 - December 2016</p>
					<p>Designed and Developed Several Websites, Install, Maintain and Repair Several Workstations, Trained Staff on Applications, Supervised IT Projects.</p>
				</article>

				<article>
					<h2>Intern at Intels Nigeria Limited</h2>
					<p class="subDetails">January 2011 - February 2012</p>
					<p>
						<ul>
							<li>Assisted in installing new workstations.</li>
							<li>Assisted in workstations and network troubleshooting.</li>
							<li>Assisted in Helpdesk Services.</li>
							<li>Assisted in servicing Mack Truck (flat belt and low belt).</li>
							<li>Assisted in repairing Mack Truck Engines.</li>
						</ul>
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
				
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>